<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Yawl_sim -->
      <package
            uri="westh.it/YAWLsim"
            class="YAWLAnnotation.YAWLsimPackage"
            genModel="model/YawlAnnotations.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated YawlAnnotations -->
      <package
            uri="westh.it/YAWLsim"
            class="YAWLAnnotations.YAWLAnnotationsPackage"
            genModel="model/YawlAnnotations.genmodel"/>
   </extension>

</plugin>
