<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
	<extension
	id="westh.it/YAWL"
	name="YAWL Nets"
	point="org.pnml.tools.epnk.pntd" >
		<type
		class="YAWL_net.impl.YAWL_NetTypeImpl"
		description="This is a YAWL Net" />
	</extension>
	
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated YAWL_net -->
      <package
            uri="westh.it/YAWL"
            class="YAWL_net.YAWL_netPackage"
            genModel="model/YAWL_net.genmodel"/>
   </extension>

</plugin>
